{% load static %}

<head>
  <link rel="stylesheet" href={% static "classes.css" %} />
</head>
<body>
  <h1>Welcome {{ username|default:"" }}!</h1>
  <h3>Choose a class to see your grades</h3>
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <table>
    <form method="post">
      {% csrf_token %}
      {% for class in classes %}
        <tr><td><input type="radio" class="course" name="course" value="{{ class.title }}">
        <label for={{ class.title }}>{{ class.title }}</label></td></tr><br>
      {% endfor %}
      <input type="submit" value="See Class">
    </form>
  </table>
</body>
