{% load static %}

<head>
  <!-- <link rel="stylesheet" href={% static 'grades.css' %}/> -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body class="bg-dark">
  <span class='display-4 text-center text-light'>{{ classname|default:"" }}</span>
  <br>
  <div class='grade'>Final Grade: {{ fg }}</div>
  <table class="container">
    <thead>
      <tr>
        {% for name in weights %}
          <th><h1>{{ name }}</h1></th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for status in statuses %}
          <td>{{ status }}</td>
        {% endfor %}
      </tr>
      <form method="post">
        {% csrf_token %}
        <div class='simulation'>
          {{ form.as_table }}
        </div>
        <input type="submit" value="Recalculate" class="recalculate">
      </form>
    </tbody>
  </table>
  <a href="../"><button class="back">Back</button></a>
</body>
