<!-- vim:ft=htmldjango -->

{% load static %}

<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <!-- <link rel="stylesheet" href={% static 'login.css' %} > -->
</head>
<body class="bg-dark">
  <div class="container">
    <h3 class="display-2 text-center text-light" >Login to StudentVUE</h3>
      <form method="post">
        <h4 class="text-center text-secondary">If you are not a FCPS student, please enter your StudentVUE domain</h4>
        {% csrf_token %}
        <h4 class="text-light">Username:</h4>
        {{ form.username }}
        <h4 class="text-light">Password:</h4>
        {{ form.password }}
        <h4 class="text-light">Domain:</h4>
        {{ form.domain }}
        <div class="row">
          <div class="d-flex flex-column justify-content-center">
            <button type="submit" class="btn btn-outline-light btn-lg btn-block">Log In</button>
            <img src="{% static 'assist_logo.png' %}" alt="Assist Logo" width="730" style="margin-top: 10px;" class="img-fluid mx-auto d-block">
          </div>
        </div>
      </form>
  </div>
</body>
